// Import page-specific CSS files here.
//@import "home";
.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 16px;
  margin: 16px;
}

a, a:hover, a:visited{
  text-decoration: none;
  color: black;
}







// display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr;
//   grid-template-rows: auto;
