<div class="container">
  <div class="card-trip">
    <img src="https://hips.hearstapps.com/hmg-prod/images/how-to-keep-ducks-call-ducks-1615457181.jpg?crop=0.669xw:1.00xh;0.166xw,0&resize=1200:*" />
    <div class="card-trip-infos">
      <div>
        <h2>Rubber Duck UK</h2>
        <p>Rails Duck!</p>
        <p>Locattion: UK</p>
        <h2 class="card-trip-pricing">16€</h2>
      </div>


    </div>
  </div>
</div>
