<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1603736087997-5daec6092347?ixlib=rb-4.0.3&ixid=M3wxM[…]dlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);">
  <div class="container">

    <h1>For Duck Lovers, By Duck Lovers <strong>"Welcome to Duck on Demand"</strong> </h1>
    <p> Dive into Happiness & Choose Your <strong>Duck</strong> Companion Today!</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<div class="middle">

      <h2>Find Your Perfect Duck Companion</h2>
        <p>Discover a wide range of high-quality ducks that will bring joy and charm to your life.</p>
<%= link_to "Explore our Ducks", ducks_path, class:"button" %>
</div>
