.container{
  justify-content: center;
  margin: 0 auto;
}
.card-duck {
  overflow: hidden;
  width: 300px;
  height: 400px;
  border-radius: 12px;
}

.card-duck > img {
  height: 300px;
  width: 300px;
  border-radius: 12px;
  object-fit: fill;
}

.card-duck h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-duck p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-duck .card-infos {
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin: 0 0;
}

.card-duck-show {
  overflow: hidden;
  width: 500px;
  height: 500px;
  border-radius: 12px;
}

.card-duck-show > img {
  height: 300px;
  width: 300px;
  border-radius: 12px;
  object-fit: fill;
}
