
.form-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;

}

.ducks-form {
  width: 800px;
  border-radius: 12px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 12px 12px;
  padding: 12px;
}
